{% extends "./base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}

<main>
  <main>
    <div class="album py-5 bg-light">
      <div class="container">
        {% if category %}

        <div class="pb-3 h5">{{ category.name|title }}</div>
        {% else %}
        <div class="pb-3 h5">{{ searchresult }}</div>
        {% endif %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for product in products %}
          <div class="col">
            <div class="card shadow-sm">
              <img class="img-fluid" alt="Image" src="/media/{{product.image}}"
                style="height: 200px; object-fit: cover;">


              <div class="card-body">
                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">
                  <h5 class="card-title">{{ product.title}} </h5>
                </a>

                <p class="card-text">{{ product.description }}
                </p>
                <div class="d-flex justify-content-between align-items-center">

                  <small class="text-muted"> € {{product.price}}</small>
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                        href="{{ product.get_absolute_url }}" style="text-decoration: none; color: black;">
                        View</a></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
  </div>
  </div>
  </div>

</main>

{% endblock %}