<!-- display results from search & option to sort results -->
{% extends "./base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
{% if products %}

<!-- Sort by name & price -->
  <div class="container ">
    <div class="row pt-5">
      <div class="col-xs-6 col-md-4">
      <form action="/search/sort" id="sortOption" method="get">
        <label for="sortOption">Sort by</label>
       
          <select form="sortOption" name="sortOption" required class="form-select form-select-mg mb-1">
           
            <option selected value="sort_name">Name</option>
            <option value="sort_price">Price</option>
          </select>
     
        </div>

      <div class="col-xs-12 col-sm-6 col-md-8">
   
       <input class="btn btn-outline-success p-3 m-5" type="submit" value="Sort">
       
      </form>
      </div>
    </div>

     
 
     

    <!-- Rendering results -->
      {% for product in products %}

      <div class="row mb-4 shadow ">
      
        <div class="card" >
          <div class="card-body">
            <div class="row card-body">
              <div class = "col-3">
              <h5 class="card-title">{{ product.name}} </h5>
            </div>
            <div class= "col-8">
              <a class="link-primary text-decoration-none" href='/product/{{product.slug}}'>{{ product.information }}</a>
            </div>
            <div class= "col-1">
              <p class="card-text" style=>{{product.price}} €</p>
            </div>
            
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

   
</div>
<!-- 
No results found -->
{% else %}

<p>No product code or name matched your search criteria </p>
{% endif %}

{% endblock %}